# Environment variables
.env

# Python cache
__pycache__/

# Virtual environment
ai-fraud-env/

# Credentials
keyfile.json

# Generated outputs (optional - remove this line if you want to track outputs)
outputs/

# Test data (optional - remove this line if you want to track test data)
test_data/ 

#Folders
sample_interview/
long_segments_54/
long_segments84/
long_segments83/
long_segments/
audio-segmentation/
extracted_interview_speech/